@import "../../global.css";

/*!
 * Glossário CSS
 * Version - 1.0.0
 * 1 -> Main Header
 * 2 -> Search box
 * 3 -> Link Header
 * 4 -> Modal Explorar
*/

.logo {
  width: 11rem;
}



/* -------------------------------------------------------------------- 1 - MAIN HEADER --------------------------------------------------------------------*/
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  font-weight: 500;
}
.header {
  position: fixed;
  top: 0;
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
  z-index: 5;
  color: #2a3e55;
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.header-links, .header-auth{
  margin-bottom: 0;
}


/* -------------------------------------------------------------------- 2 - SEARCH BOX --------------------------------------------------------------------*/
.search-box {
  background-color: #e2f6f4;
  width: 250px;
  height: 35px;
  -webkit-box-shadow: 0px 6px 12px -3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 12px -3px rgba(0, 0, 0, 0.25);
}
.search-icon {
  color: #7b7b7b;
  margin: 0.4rem;
}
.search-box input {
  position: relative;
  font-size: 12px;
  font-weight: bold;
  color: #7b7b7b;
  padding: 3px 10px;
  border: none !important;
  background-color: #e2f6f4;
  width: 250px;
  height: 35px;
  outline: none;
}

/* -------------------------------------------------------------------- 3 - LINK HEADER --------------------------------------------------------------------*/
.link-header {
  color: var(--tertiary-color);
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
.link-header:hover {
  color: var(--primary-color);
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
.primary-color:not(h2){color: var(--tertiary-color);}

/* -------------------------------------------------------------------- 4 - MODAL EXPLORAR ------------------------------------------------------------------*/
.modal-dialog {
  max-width: 400px !important;
}
.explorar-modal {
  padding-top: 25px;
  opacity: 0;
  transform: scale(0.9);
  padding-top: 25px;
  position: fixed;
  transition: all ease-in-out 0.2s;
  pointer-events:none
}
.explorar-modal-enter-active{
  pointer-events:all
}
.explorar-modal-enter-done {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
  pointer-events:all
}

.bg-modal {
  width: 600px;
  background-color: #fff;
  -webkit-box-shadow: 0px 6px 12px -3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 4px 12px -3px rgba(0, 0, 0, 0.35);
  z-index: 11;
}

.bg-modal .explore_left,
.bg-modal .explore_right {
  width: 100%;
}
.bg-modal .explore_left h2 {
  font-size: 20px;
  font-weight: 600;
}
.bg-modal .explore_left li,
.bg-modal .explore_left p {
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  transition: all ease-in 0.2s;
}
.bg-modal .explore_left li:hover {
  color: var(--primary-color);
}

.bg-modal .explore_right img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.bg-modal .explore_right h4 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.bg-modal .explore_right .content-right {
  width: 200px;
  display: block;
  margin: 15px auto;
}
.bg-modal .explore_right .content-right .form-btn {
  min-width:unset
}
.bg-modal .explore_right .content-right .form-btn {
  box-shadow: unset;
  min-width:unset;
}

#header .content-image > div{
  width: 55px;
  height: 55px;
  background-size: cover;
}

#header .menu-opt { opacity: 0;}

#header #google_alike > div{ font-weight: bold; border: 1px solid var(--primary-color); width: 60px; height: 60px;border-radius: 50%; font-size: 1.2rem; color: #fff; background-color: var(--primary-color);} 
#google_alike > div{ font-weight: bold; border: 1px solid var(--primary-color); width: 90px; height: 90px;border-radius: 50%; font-size: 1.5rem; color: #fff; background-color: var(--primary-color);} 
.welcome-message span { color: var(--primary-color); font-size: .9rem; }
.avatar_logged { padding: 4px; transition: all ease-in-out .2s; }
.avatar_logged:hover { background-color: rgba(60,64,67,0.08); border-radius: 50%; cursor: pointer; filter: brightness(.9);}

.config-container { right: 0px; top: 41px; }
.config-container .chave{ color: var(--primary-color); cursor: pointer; transition: all ease-in-out .4s;}
.config-container .chave:hover{ transform: scale(1.2);}

#setting-list { background-color: #fff; padding: 10px 10px; font-size: 14px; opacity: 0; transition: all ease-in-out .3s; right: 30px;}
#setting-list ul li{ cursor: pointer; transition: all ease-in-out .2s;}
#setting-list ul li:hover{ color: var(--primary-color);}
.setting-hover:hover #setting-list{ opacity: 1;}


/* ----------------------------------------------------------------------------------- CSS MOBILE ----------------------------------------------------------------------------------- */
#header_mobile { width: 105vw;}
#header_mobile .content-image > div{ height: 65px; width: 65px;}
#header_mobile .noborder{ border: unset;}
.logo_mobile { max-width: 70%; }

#header_mobile a{ color: #000; transition: all-ease-in-out .2s;}
#header_mobile a:hover{ color: var(--primary-hover);}


/* HAMBUGUER MENU */
#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -15px;
  left: 0;
  align-items: flex-end;
}

#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: relative;
  cursor: pointer;
  opacity: 0;
  z-index: 5;
}

#menuToggle span
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #000;
  border-radius: 3px;
  z-index: 10;
  transform-origin: 5px 0px;
  -webkit-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-3px, -1px);
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  -webkit-transform: rotate(-45deg) translate(0, -1px);
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: fixed;
  width: 255px;
  height: 113vh;
  margin: -50px 0 0 -50px;
  padding: 50px 20px ;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  -webkit-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  right: 0;  
}


#menu li
{
  padding: 10px 0;
  transition-delay: 2s;
  font-size: 25px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}

#menu li:last-child{
  border-bottom: none;
}

#menuToggle input:checked ~ ul
{
  -webkit-transform: none;
  transform: none;
}
